<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>base_link</bodyName>
      <topicName>/eSAUl/imu</topicName>
      <serviceName>/eSAUl/service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>50.0</updateRate>
    </plugin>
  </gazebo>


</robot>