<launch>
  <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard_cmd" output="screen" respawn="false">
    <!-- <param name="turbo/steps" value="10" /> -->
    <!-- <param name="turbo/linear_forward_min" value="0.04" />
    <param name="turbo/linear_forward_max" value="1" />
    <param name="turbo/linear_backward_min" value="0.03" />
    <param name="turbo/linear_backward_max" value="1" />
    <param name="turbo/angular_min" value="0.0" /> 
    <param name="turbo/angular_max" value="6.28319" /> 360 deg = 6.28319 rad -->
    <remap from="key_vel" to="eSAUl/cmd_vel" />
  </node>
</launch>